@import "~bootstrap/dist/css/bootstrap.css";

body{
    background-image:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyqnnwyhdxl5UOi6cT2nR89qhco0rhU2dKda0blYDh37MprFz2GA');
    background-repeat: no-repeat;
    background-size: cover;
}

